# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes